@import "../../../assets/palette";

.hero {
	padding-bottom: 48px;

	&_top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&_profilePic {
		height: 380px;
		border-radius: 50%;
		box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
			-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
	}

	&_info {
		font-size: 24px;

		&_about {
			color: $special-font-col;
		}
	}

	&_specialInfo {
		font-size: 32px;
		color: $primary-font-col;
		text-decoration: none;

		&:hover {
			color: indigo;
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: 920px) {
	.hero {
		&_top {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&_profilePic {
			height: 280px;
		}

		&_info {
			font-size: 20px;
		}

		&_specialInfo {
			font-size: 26px;
		}
	}
}
