@import "../../../../assets/palette";

.project {
	&_card {
		display: flex;
		flex: 1;
		justify-content: space-between;
		align-items: center;
		margin: 16px 0px;
		padding: 8px 0px;
	}

	&_photo {
		width: 40%;
		border-radius: 18px;
	}

	&_info {
		margin-right: 24px;
	}

	&_title {
		font-size: 20px;
		font-weight: 600;
	}

	&_tags {
		display: flex;
		max-width: 60%;
		flex-wrap: wrap;
	}

	&_tag {
		padding: 4px 8px;
		background-color: $primary-badge-bg-col;
		box-shadow: 3px 5px 10px #bedde9, inset -3px -5px 10px #3f606d;
		border-radius: 4px;
		margin-right: 8px;
		margin-bottom: 4px;
		margin-top: 4px;
	}

	&_links {
		margin-top: 6px;
		display: flex;

		& a {
			text-decoration: none;
			color: black;
		}
	}

	&_link_button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $secondary-badge-bg-col;
		box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
			-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
		color: $default-font-col;
		width: max-content;
		padding: 4px 8px;
		border-radius: 4px;
		font-size: 16px;
		margin-right: 10px;

		&:hover {
			box-shadow: none;
		}

		& i {
			display: flex;
			align-items: center;
			margin-right: 4px;
		}
	}

	&_about {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 720px) {
	.project {
		&_photo {
			width: 70%;
		}

		&_card {
			flex-direction: column-reverse;
		}

		&_info {
			margin-left: 0px;
			margin-right: 12px;
		}

		&_tags {
			max-width: 100%;
		}
	}
}
