$primary-bg-col: #f8f9fa;
$secondary-bg-col: #e1e7ec;

$default-font-col: #fff;
$special-font-col: #4ea8de;

$primary-font-col: #01497c;
$secondary-font-col: #468faf;

$primary-badge-bg-col: #98d0e6;
$secondary-badge-bg-col: #2c3552;
