@import "../../assets/palette";

.header {
	display: flex;
	justify-content: space-between;
	flex: 1;
	padding: 12px;
	position: relative;
	align-items: center;
}

.menu {
	display: flex;
	flex: 1;
	justify-content: flex-end;

	&_icon {
		font-size: 24px;
	}

	&_mobile {
		display: none;
	}

	&_web {
		display: flex;
	}
}

.nameBrand {
	display: flex;
	font-size: 36px;
	color: $primary-font-col;
	font-weight: 800;
}

@media only screen and (max-width: 820px) {
	.menu_mobile {
		display: flex;
	}

	.menu_web {
		display: none;
	}

	.nameBrand {
		font-size: 24px;
	}
}
